.dropDownLK {
    position: relative;
    display: inline-block;
    margin-left: 15px;
}

.buttonDropDown {
    padding: 0;
    padding-right: 12px;
    width: 107px;
    border: 0;
    background: none;
    color: #828282;
    cursor: pointer;
    outline: 0;
    font-size: 16px;
    background-image: url(../../image/arrowbottom.svg);
    background-repeat: no-repeat;
    background-position: right center;
}

.top {
    background-image: url(../../image/arrowtop.svg);
}

.UlDropdown {
    position: absolute;
    list-style: none;
    padding: 0 5px;
    margin: 0;
    background-color: #FFFFFF;
    box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.25);
    width: max-content;
}

.liDropdown {
    padding: 8px 5px;
    font-size: 14px;
}
