.label {
    color: #828282;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

.customRadioButton {
    margin: 0;
    visibility: hidden;
  }

  .customRadioButton:checked + span:after {
    opacity: 1;
  }
  
  .customRadioSpan {
    cursor: pointer;
    margin-left: -10px;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    background-color: rgba(71, 200, 200, 0.1);
    display: inline-block;
    position: relative;
  }
  
  .customRadioSpan::after {
    content: '\2713';
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s;
  }
  


.selectTheme {
  margin-top: 20px;
}

.selectTheme p {
  margin: 0 0 5px 0;
  padding: 0;
}

.radioLabel {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  margin-right: 7px;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.radioInput {
  margin: 0;
  visibility: hidden;
}

.radioInput:checked + span:after {
  opacity: 1;
}

.customRadio {
  left: -8px;
  top: 6px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

/* for inner filled circle */
.customRadio::after {
  content: '';
  width: 10px;
  height: 10px;
  background: #FFFFFF;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
}
