.containerLKOutsideTop {
    position: relative;
    background-color: #828282;
    width: 100vw;
    height: 360px;
    color: #FFFFFF;
}

.containerLKInsideTop {
    position: absolute;
    left: 16%;
    bottom: 0;
    width: 950px;
    height: 100px;
    background-color: rgba(73, 200, 200, 0.33);
    backdrop-filter: blur(10px);
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.avatarContainer {
    margin-top: -120px;
}

.avatarImg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.informationContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nameContainer {
    font-size: 24px;
    font-weight: 800;
}

.locationContainer {
    color: #F0F0F0;
    font-size: 16px;
    font-weight: 200;
    background-image: url(../../image/Location.svg);
    background-repeat: no-repeat;
    background-size: 22px 28px;
    padding: 5px 0px 5px 25px;
}

.buttonsContainer {
    width: 395px;
    display: flex;
    justify-content: space-between;
}

.containerInformationBottom {
    color: #828282;
    font-size: 17px;
    font-weight: 500;
    margin-left: 16%;
    padding: 20px;
    width: 950px;
    height: 50px;
    box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.botomContainer {
    margin-left: 16%;
    margin-top: 20px;
    color: #828282;
    font-size: 24px;
    font-weight: 700;
}

.bottomPhotoContainer {
    width: 960px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.containerPhotoNew {
    cursor: pointer;
    width: 300px;
    height: 300px;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    margin-left: 20px;
    background: none;
    background-image: url('../../image/lk/gallery-add.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.containerPhoto {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    margin-left: 20px;
}

.photo {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.addPhoto_modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row-reverse;
    height: 250px;
}

.inputPhoto {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    
}

.uploadPhoto {
    background: none;
    padding: 45px;
    padding-left: 150px;
    margin: 40px;
    width: 100px;
    height: 60px;
    border: 5px dashed #BDBDBD;
    color: #BDBDBD;
    background-image: url('../../image/add.png');
    background-repeat: no-repeat;
    background-position: 20% 50%;
    font-size: 1.125rem;
    font-weight: 800;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    cursor: pointer;
  }

  .labelAddPhotoMadol {
    margin-left: 30px;
  }

.newPhoto {
    width: 200px;
    height: 200px;
    margin: 40px;
}

.informartionButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 25px;
    margin-left: 0;
}
