.containerSearchOutside {
    position: relative;
    background-image: url(../../image/backgroundFeedCustmers.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
    padding-top: 90px;
    padding-left: 18%;
    width: calc(98.8vw - 18%);
    height: 360px;
    font-size: 30px;
    font-weight: 300;
    color: #FFFFFF;
}

.containerSearchInside {
    position: absolute;
    left: 18%;
    top: 25%;
    width: 905px;
    height: 190px;
    background-color: rgba(73, 200, 200, 0.5);
    backdrop-filter: blur(5px);
    margin-top: 20px;
    
    padding: 30px;
    padding-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sliderContainer {
    width: 200px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 164%;
    height: 30px;
}

.priceText {
    font-size: 14px;
    text-align: center;
    margin-left: -10px;
    width: 222px;
}

.radioButtonContainer {
    font-size: 16px;
    line-height: 164%;
}

.users_container {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.bottomContainer {
    padding: 50px 18%;
    padding-left: 20%;
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    color: #828282;
}


